.slide-properties-editor {
  background: var(--color-background-2);
  height: 100%;
  padding: 15px;
  border-left: 2px solid var(--color-background-3);

  .slide-properties-editor-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .properties {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .buttons {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
      .span-full {
        grid-column: 1 / span 2;
      }
    }
  }
}
