@import "../../../styles/mixins.scss";

.overall-results {
  @include flex-center-center();
  background: var(--color-background-1);
  box-shadow: var(--box-shadow-medium), var(--box-shadow-medium);
  margin: 40px 0;
  padding: 20px;
  max-width: 740px;
  width: 100%;
  border-radius: 16px;
  .results-container {
    padding: 10px;
    h2 {
      text-align: center;
      font-size: 60px;
      margin: 0;
      margin-bottom: 40px;
      color: var(--color-text-3);
    }
    .podium {
      gap: 30px;
      display: grid;
      justify-items: center;
      align-items: flex-end;

      grid-template-columns: 1fr 1fr 1fr;
      .podium-spot {
        .name {
          padding-bottom: 10px;
          font-size: 18px;
          text-align: center;
          font-weight: 600;
          word-break: break-all;
        }
        .position {
          @include flex-center-center();
          background: var(--color-main-2);
          border-radius: 12px;
          font-size: 60px;
          font-weight: 700;
          color: var(--color-white);
          width: 200px;
          &.first {
            height: 250px;
          }
          &.second {
            height: 150px;
          }
          &.third {
            height: 100px;
          }
        }
        .points {
          text-align: center;
          margin-top: 10px;
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
    .other-results {
      @include flex-center-center-column();
      gap: 15px;
      width: 100%;
      padding-top: 40px;
      font-weight: 600;
      border-radius: 8px;
      .result-box {
        width: 100%;
        display: grid;
        grid-template-columns: 40px 300px 1fr;
        align-items: center;
        justify-content: center;
        padding: 16px 20px;
        background: var(--color-background-2);
        border-radius: 8px;
        font-size: 18px;
        gap: 15px;
        .points {
          text-align: right;
        }
      }
    }
  }
}
