.custom-progress-bar {
  width: 100%;
  .progress-bar-container {
    height: 30px;
    background: var(--color-background-1);
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 15px;
    .progress-bar {
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      position: absolute;
      border-radius: 15px;
      background: var(--color-main-2);
    }
  }
}
