.line-background {
  display: flex;
  position: absolute;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--color-background-2);
  z-index: -101;
  .line {
    border-left: 2px dashed var(--color-background-border);
    width: 100%;
    &:first-child {
      border: none;
    }
  }
}
