@import "../../../styles/mixins.scss";
.slide-game-results {
  min-height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
  width: 100%;
  .current-results-chart {
    grid-column: span 2;
    @include flex-center-center();
    width: 100%;
    background-color: var(--color-white);
    border-radius: 16px;
  }
}
