.profile-container {
  width: 550px;
  padding: 20px;
  background: var(--color-background-1);
  box-shadow: var(--box-shadow-medium);
  gap: 15px;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  .profile-title {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    color: var(--color-text-2);
    padding-bottom: 20px;
  }
  .input-container {
    .label {
      font-size: 14px;
      margin-bottom: 4px;
      color: var(--color-text-4);
    }
    .input-information {
      width: 100%;
      font-size: 18px;
      padding: 8px 12px;
      background: var(--color-background-2);
      color: var(--color-text-3);
      border: none;
      border-radius: 6px;
    }
  }
  .btn-save {
    width: 100%;
    border: none;
    background: var(--color-main-3);
    border-radius: 6px;
    font-size: 20px;
    color: var(--color-white);
    padding: 8px;
    &:hover {
      background: var(--color-main-2);
    }
  }
}
