.event-create-page {
  position: relative;
  .event-create-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    gap: 20px;
    .title {
      font-size: 72px;
      margin: 0;
      font-weight: 500;
    }
    .collection-name {
      font-size: 48px;
      margin: 0;
      font-weight: 500;
    }
  }
}
