@import "../../../styles/mixins.scss";
.preview-collections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  gap: 25px;
  margin-top: 25px;
}
