@import "../../../styles/mixins.scss";

.library-header-container {
  width: 100%;
  padding: 20px 25px;
  background: var(--color-background-1);
  border-radius: 12px;
  box-shadow: var(--box-shadow-medium);
  .library-header {
    @include flex-spaceBetween-center();
    width: 100%;
    gap: 40px;
  }
}
