@import "../../../styles/mixins.scss";
.players-result {
  .players-result-container {
    @include flex-spaceBetween-center-column();
    gap: 10px;
    width: 750px;
    background: var(--color-background-1);
    box-shadow: var(--box-shadow-medium);
    padding: 25px;
    border-radius: 16px;
  }
}
