@import "../../../styles/mixins.scss";

.event-quiz-options {
  @include flex-flexStart-center();
  background: var(--color-background-1);
  border-radius: 16px;
  overflow: hidden;
  font-size: 1.8vw;
  font-weight: 500;
  min-height: 75px;
  gap: 2vw;

  &.option-1.correct,
  &.option-1 .icon-container {
    background: rgb(113, 52, 255);
  }
  &.option-2.correct,
  &.option-2 .icon-container {
    background: rgb(18, 81, 255);
  }
  &.option-3.correct,
  &.option-3 .icon-container {
    background: rgb(255, 15, 95);
  }
  &.option-4.correct,
  &.option-4 .icon-container {
    background: rgb(255, 23, 224);
  }
  &.correct {
    color: var(--color-white);
  }

  .icon-container {
    @include flex-center-center();
    fill: var(--color-white);
    color: var(--color-white);
    height: 100%;
    width: 130px;
    font-size: 50px;
    .icon-option {
      width: 50px;
      height: 50px;
      color: var(--color-white);
    }
  }
}
