@import "../../../styles/mixins.scss";

.home-page {
  @include flex-center-center-column();
  max-width: 425px;
  width: 100%;
  padding: 40px;
  gap: 15px;
  @media (max-width: 500px) {
    padding: 40px 20px 20px 20px;
  }
}
