.player-result {
  width: 100%;
  .player-result-container {
    padding: 15px 25px;
    font-size: 18px;
    background: var(--color-background-2);
    font-weight: 600;
    border-radius: 8px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 50px 3fr 2fr 1fr;
    text-align: left;

    &.first {
      background: var(--color-main-2);
      color: var(--color-white);
    }
    &.second {
      background: var(--color-main-3);
      color: var(--color-white);
    }
    &.third {
      background: var(--color-main-4);
      color: var(--color-white);
    }

    &.label {
      background: var(--color-background-1);
      color: var(--color-text-4);
      padding: 5px 25px;
      font-weight: 400;
      position: relative;
      top: 5px;
    }
  }
}
